/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.rounded-bottom {
    border-bottom-right-radius: .50rem !important;
    border-bottom-left-radius: .50rem !important;
}

.h1, h1 {
    font-size: 1.5rem;
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
    max-width: 90%;
    padding: 1rem;
}

.btn {
    margin-left: 10px;
}

.btn-squared-default {
    width: 100px;
    height: 100px;
    font-size: 10px;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.badge {
    position: absolute;
    font-size: 11px;
    font-weight: 300;
    top: -5px;
    right: -5px;
    padding: 3px 6px 3px 6px;
    color: #fff;
    text-shadow: none;
    border-width: 0;
    border-style: solid;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.badge-success {
    background-color: #45b6af;
    background-image: none;
}

.badge {
    font-size: 11px !important;
    font-weight: 300;
    text-align: center;
    height: 18px;
    padding: 3px 6px 3px 6px;
    -webkit-border-radius: 12px !important;
    -moz-border-radius: 12px !important;
    border-radius: 12px !important;
    text-shadow: none !important;
    text-align: center;
    vertical-align: middle;
}

.badge {
    display: inline-block;
    min-width: 10px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background-color: #777;
    border-radius: 10px;
}

.badge-success {
    background-color: #3cc051 !important;
}